
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/


UserSettings/


*.crash


LightmapSnapshot/


*.apk
*.unitypackage
*.app
*.exe


.vscode/
.idea/
*.csproj
*.sln
*.suo


.DS_Store
Thumbs.db


AddressableAssetsData/*/*.bin*
AddressableAssetsData/*/*.hash

.collab/


MyGit